/*whole page set-up*/
* {
  margin: 1px;
  padding: 1px;
  box-sizing: border-box;
  font-family: Times New Roman;
}

/*set background color except the header part*/
body {
  background-color: #eee79d;
  padding-bottom: 5vw;
}

/*the top blue header position*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.1vw 6.4vw;
  background: #0275a2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  font-size: 1.4vw;
}

/*the links on the header, before hover*/
.navbar a {
  position: relative;
  color: white;
  text-decoration: none;
}

/*the links on the header, after hover*/
.navbar a:hover {
  color: #ffde21;
}

/*the links on the header, set space in between*/
.nav1 {
  padding: 1vw;
  padding-bottom: 0vw;
}

/*the left logo link on the header, before hover*/
.logo {
  color: #00ffff;
  text-decoration: none;
}

/*the left logo link on the header, after hover*/
.logo:hover {
  color: #ffde21;
}

/*The Big title of current Page*/
.title {
  padding: 1vw;
  padding-top: 4.5vw;
  font-size: 1vw;
  text-align: center;
  padding-bottom: 0.5vw;
}

/*Game description of current game*/
.description {
  width: 100%;
  float: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.4vw;
  padding: 0.5vw;
  box-sizing: border-box;
  margin-bottom: 1.25vw;
  padding-left: 1.2vw;
  border-style: dotted;
  border-width: 0.3vw;
  border-color: #0275a2;
  border-radius: 1vw;
  background-color: rgb(238, 238, 238, 0.6);
}

/*set position of image and buttons from the game description
.interinteractClass {
  padding-top: 1vw;
}*/

/*image position set-up*/
.imgClass {
  float: left;
  padding-left: 1vw;
  width: 60%;
  padding-bottom: 5vw;
}

/*image position set-up in WIN.HTML*/
.imgClass2 {
  width: 100%;
  float: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: center;
  float: center;
  /*margin-left: 15vw;*/
  padding-bottom: 5vw;
}

/*button overall set-up*/
.buttonChoiceClass {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5vw;
}

/*4 button on index.html page setup*/
.button1 {
  background-color: brown;
  border: none;
  color: white;
  padding: 1.3vw 4.5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw;
  margin-top: 1.9vw;
  margin-bottom: 1.2vw;
  border-radius: 5vw;
}

/*button on index.html page setup, after hover*/
.button1:hover {
  background-color: rgb(207, 60, 109);
  color: aliceblue;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

/*2 button on left.html page setup*/
.button2 {
  background-color: brown;
  border: none;
  color: white;
  padding: 1.3vw 4.5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw;
  margin-top: 6.5vw;
  margin-bottom: 2.3vw;
  border-radius: 5vw;
}

/*button on left.html page setup, after hover*/
.button2:hover {
  background-color: rgb(207, 60, 109);
  color: aliceblue;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

/*button overall set-up for the password.html*/
.buttonChoicePasswordClass {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5vw;
}

/*1 button on password.html page setup*/
.button3 {
  background-color: brown;
  border: none;
  color: white;
  padding: 1.3vw 4.5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw;
  margin-top: 0.5vw;
  margin-bottom: 1.2vw;
  border-radius: 5vw;
}

/*1 button on password.html page setup, after hover*/
.button3:hover {
  background-color: rgb(207, 60, 109);
  color: aliceblue;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

/*style of password enter*/
#container {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  align-items: center;
}

#answerButton {
  width: 21vw;
  height: 5vw;
  font-size: 3vw;
}

#buttonContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1vw;
  width: max-content;
}

.numbutton {
  background-color: lightgreen;
  border: none;
  width: 4.8vw;
  height: 4.8vw;
  border-radius: 1vw;
  font-size: 2.9vw;
}

/*style of color boxes buttons*/
#buttonContainer2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0.5vw;
  width: max-content;

  float: center;
  width: 100%;
  float: center;
  align-items: center;
  justify-content: center;
  position: center;
}

.colorbutton {
  background-color: lightgreen;
  border: none;
  width: 5.6vw;
  height: 5.6vw;
  border-radius: 0.5vw;
  transition: background-color 0.3s ease;
}

.messageContainer {
  position: center;
  display: grid;
  float: center;
  align-items: center;
  justify-content: center;

  font-size: 2vw;
  padding-bottom: 0vw;
  margin-bottom: 0vw;
  margin-top: 1vw;
}
