/*whole page set-up*/
* {
  margin: 1px;
  padding: 1px;
  box-sizing: border-box;
}

/*the top blue header position*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1vw 6.4vw;
  background: rgb(2, 117, 162);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  font-size: 1.4vw;
}

/*the links on the header, before hover*/
.navbar a {
  position: relative;
  color: white;
  text-decoration: none;
}

/*the links on the header, after hover*/
.navbar a:hover {
  color: rgb(238, 214, 1);
}

/*the links on the header, set space in between*/
.nav1 {
  padding: 1vw;
  padding-bottom: 0vw;
}

/*the left logo link on the header, before hover*/
.logo {
  color: aqua;
  text-decoration: none;
}

/*the left logo link on the header, after hover*/
.logo:hover {
  color: rgb(246, 108, 38);
}

/*The Big title of current Page*/
.title {
  padding: 1vw;
  padding-top: 4.5vw;
  font-size: 1.3vw;
  text-align: center;
}

/*Game description of current game*/
.description {
  width: 100%;
  float: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6vw;
  padding: 0.5vw;
  box-sizing: border-box;
  padding-left: 1.2vw;
  border-style: dotted;
  border-width: 0.3vw;
  border-color: red;
  border-radius: 1vw;
}

/*image position set-up*/
.imgClass {
  float: left;
  padding-left: 1vw;
  width: 60%;
}

/*button overall set-up*/
.buttonChoiceClass {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*button on index.html page setup*/
.button1 {
  background-color: brown;
  border: none;
  color: white;
  padding: 1.3vw 4.5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw;
  margin-top: 1.9vw;
  margin-bottom: 1.7vw;
}

/*button on index.html page setup, after hover*/
.button1:hover {
  background-color: rgb(207, 60, 109);
  color: aliceblue;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}
