* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5vw 7vw;
  background: rgb(141, 222, 254);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  font-size: 2vw;
}

.navbar a {
  position: relative;
  color: rgb(251, 251, 128);
  text-decoration: none;
}

.navbar a::before {
  content: " ";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0.14vw;
  background: white;
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}

.description {
  float: center;
  width: 100%;
}

.imgClass {
  float: left;
  padding-left: 1vw;
  width: 60%;
}

.buttonChoiceClass {
  /*display: inline-block;*/
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  float: right;
  width: 40%;
}

.button1 {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  /*float: right;*/
  width: 40%;
}

.button2 {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  line-height: 100px;
  /*float: right;*/
  width: 40%;
}

.button3 {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  line-height: 100px;
  /*float: right;*/
  width: 40%;
}

.choiceList {
  position: relative;
  justify-content: center;
  display: grid;
  font-weight: 500;
  font-size: 1.6vw;
}
