* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5vw 7vw;
  background: rgb(141, 222, 254);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  font-size: 2vw;
}

.navbar a {
  position: relative;
  color: rgb(251, 251, 128);
  text-decoration: none;
}

.navbar a::before {
  content: " ";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0.14vw;
  background: white;
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}

.description {
  float: center;
  width: 100%;
}

.imgClass {
  float: left;
  padding-left: 1vw;
  width: 60%;
}

.buttonChoiceClass {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button1 {
  background-color: brown;
  border: none;
  color: white;
  padding: 1.3vw 4.5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1vw;
  margin-top: 2.7vw;
  margin-bottom: 1.3vw;
}
