* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5vw 7vw;
  background: rgb(2, 117, 162);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  font-size: 2vw;
}

.navbar a {
  position: relative;
  color: rgb(246, 246, 66);
  text-decoration: none;
}

.navbar a::before {
  content: " ";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0.14vw;
  background: white;
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}

.logo {
  color: aqua;
  text-decoration: none;
}

.nav1 {
  padding: 1vw;
  padding-bottom: 0vw;
}

.title {
  padding: 1vw;
  padding-top: 6vw;
  font-size: 1.4vw;
  text-align: center;
}

.description {
  width: 100%;
  float: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7vw;
  padding: 0.5vw;
  box-sizing: border-box;
  padding-left: 1.2vw;
  border-style: dotted;
  border-width: 0.3vw;
  border-color: red;
  border-radius: 1vw;
}

.imgClass {
  float: left;
  padding-left: 1vw;
  width: 60%;
}

.buttonChoiceClass {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button1 {
  background-color: brown;
  border: none;
  color: white;
  padding: 1.3vw 4.5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5vw;
  margin-top: 1.9vw;
  margin-bottom: 1.7vw;
}

.button1:hover {
  background-color: rgb(207, 60, 109);
  color: aliceblue;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}
